//Headers and Container
@charset "UTF-8";
.container {
	background-color: #f4f5f6;
    width: 100%;
    margin-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    margin-top: -10px;
    border-width: 100%;
    overflow-x: hidden;
    margin-left: 0px;
    margin-bottom: auto;
}

.primary_header {
    width: 100%;
    background-color: #0f0f12;
    padding-top: 10px;
    padding-bottom: 10px;
    clear: left;
    border-bottom: 2px solid #0f0f12;
    padding-left: 0px;
    border-top-color: #0f0f12;
    border-right-color: #0f0f12;
    border-left-color: #0f0f12;
}

.title {
	font-weight: bold;
	font-style: normal;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 0.2em;
}

.secondary_header {
    padding-top: 10px;
    padding-bottom:20px;
    background-color: #212026;
    clear: left;
}

.container .secondary_header ul {
    margin-top: 0%;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-bottom: 15px;
}

.secondary_header ul li {
    list-style: none;
    float: left;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-weight: normal;
    color: #FFFFFF;
    letter-spacing: 1px;
    text-align: center;
    width: 24%;
}

.secondary_header ul li:hover {
    color: #9575CD;
    cursor: pointer;
}

.left_article {
    width: 500px;
    float: left;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    color: #343434;
    padding-bottom: 60px;
    padding-right: 0px;
}

.container .left_article h3{
    padding-left: 2%;
    padding-right: 5%;
    color: #212026;
    font-weight: bold;
	font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.container .left_article p {
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #37474F;
}

.right_article {
	margin-top: 25px;
	width: 30%;
	height: 200px;
	float: left;
}

.container .right_article ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.right_article ul li {
	font-family: "Source Sans Pro";
	list-style: none;
	text-align: center;
	background-color: #B3B3B3;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #FFFFFF;
	font-weight: bold;
	border-radius: 0px;
	transition: all 0.3s linear;
	border-left: 5px solid #717070;	
}

.right_article ul li:hover {
	background-color: #717070;
	cursor: pointer;
}

.spaced {
	width: 80%;
	margin: auto;
	background-color: #311B92;
}

.container .forum h3{
    padding-left: 5%;
    padding-right: 5%;
	color: #212026;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.container .forum p {
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #2e2d33;
}
.artrows {
    background: #ffffff;
    width: 80%;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color: #212026;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    display: flex;
	transition: all 0.3s linear;
}

.artrows img {
	float: left;
	margin-left: 30px;
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 0px;
}

.artrows h3 {
    padding-right: 5%;
    font-weight: bold;
	font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.artrows p {
	font-size: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}

#arttext{
	padding-left:25px;
}

.artrows:hover {
    background-color: #7E57C2;
    cursor: pointer;
	color: #ffffff;
}



.forum {
	background-color: #f4f5f6;
    width: 100%;
    float: left;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    color: #343434;
    padding-bottom: 20px;
    padding-right: 0px;
}

.forum p {
	margin-top: -10em;
  	margin-bottom: -11em;
	text-indent: 3em
}

.references {
    width: 100%;
    float: left;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    padding-bottom: 60px;
    padding-right: 0px;
	
}

.references ul {
    list-style: none;
    padding-left: 5%;
    padding-right: 5%;
    text-indent: 0;
    color: #37474F;
}

.references ul li {
	margin-bottom: 1em;
}

.references h3 {
	padding-left: 5%;
    padding-right: 5%;
	color: #212026;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.references a {
	color: #5C6BC0;
}

.container .forum h2{
    padding-left: 5%;
    padding-right: 5%;
	color: #311B92;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0px;
    padding-bottom: 10px;
}



.footer {
    background-color: #212026;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.placeholder {
    /* [disabled]max-width: 400px;
*/
    /* [disabled]max-height: 200px;
*/
    width: 100%;
    /* [disabled]padding-left: 19px;
*/
    height: 100%;
}

.left_half {
	background-color: #52BAD5;
}

.container .column_half.left_half h2 {
	color: #FFFFFF;
	font-family: "Source Sans Pro";
	text-align: center;
}

.right_half {
	background-color: #01B2D1;
	color: #FFFFFF;
	font-family: "Source Sans Pro";
	text-align: center;
	font-weight: bold;
}

.column_title {
	padding-top: 25px;
	padding-bottom: 25px;
}

.copyright {
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 2px;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    border-width: 100%;
}

body {
    margin-right: 0px;
    margin-left: 0px;
    width: auto;
    margin-bottom: 100px;
	background-color: #f4f5f6;
}

@media (max-width: 320px) {
.secondary_header ul li {
	float: none;
	margin-top: 28px;
	margin-left: 0px;
	width: 100%;
}
.container .secondary_header ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	height: auto;
	width: 100%;
	text-align: center;
}
.secondary_header {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 1px;
	padding-bottom: 40px;
}
.left_article {
	width: 100%;
	height: auto;
}
.right_article {
	width: 100%;
	height: auto;
}
.placeholder {
	width: 100%;
	margin-top: 22PX;
	margin-right: 0px;
	margin-bottom: 22PX;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	max-width: 400px;
	max-height: 200px;
	height: auto;
}
.columns {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0PX;
	padding-right: 0PX;
	padding-bottom: 0PX;
	padding-left: 0PX;
}
.columns p {
	padding-left: 10px;
	padding-right: 10px;
}
.column_half.left_half {
	width: 100%;
}
.column_half.right_half {
	width: 100%;
}
.copyright {
	padding-top: 25px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.container .left_article h3 {
	margin-top: 30px;
}
.social .social_icon img {
	width: 80%;
}
.container .secondary_header {
}
}

@media (min-width: 321px) and (max-width: 768px) {
.secondary_header ul li {
	float: none;
	margin-top: 28px;
	margin-left: 0px;
	width: 100%;
}
.container .secondary_header ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	height: auto;
	width: 100%;
	text-align: center;
}
.secondary_header {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 1px;
	padding-bottom: 40px;
}
.left_article {
	width: 100%;
	height: auto;
}
.right_article {
	width: 100%;
	height: auto;
	padding-bottom: 25px;
}
.placeholder {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	max-width: 100%;
	height: auto;
	max-height: 100%;
}
.columns {
	width: 100%;
	margin-top: 6px;
	margin-right: 0px;
	margin-bottom: 6px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.columns p {
	padding-left: 14px;
	padding-right: 14px;
}
.column_half.left_half {
	width: 100%;
}
.column_half.right_half {
	width: 100%;
}
}

@media (min-width: 769px) and (max-width: 1000px) {
.secondary_header {
	overflow: auto;
	padding-top: 30px;
	padding-bottom: 30px;
}
.secondary_header ul li {
	margin-top: 10px;
	margin-right: 7%;
	margin-bottom: 10px;
	margin-left: 7%;
}
.left_article {
	height: auto;
}
.right_article {
	height: auto;
	padding-bottom: 27px;
}
.placeholder {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
.columns {
	width: 50%;
	float: left;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.container .columns p {
	padding-left: 25px;
	padding-right: 25px;
}
}

@media (min-width: 1001px) {
}

.thumbnail {
	width: 100px;
	border-radius: 0px;
	height: 100px;
	margin-left: auto;
}

.bigthumb {
	width: 300px;
	border-radius: 0px;
	height: 200px;
	margin-left: auto;
}

.profilethumb{
	width: 250px;
	height: 300px;
	border-radius: 0px;
	padding-left: 25px;
	padding-top: 20px;
}

.profilethumbh{
	width: 350px;
	height: 420px;
	border-radius: 0px;
	padding-left: 25px;
	padding-top: 20px;
}

.thumbnail_align {
	text-align: center;
}
.social {
	text-align: center;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	background-color: #414141;
	clear: both;
	overflow: auto;
}
.social_icon {
	width: 25%;
	text-align: center;
	float: left;
	transition: all 0.3s linear;
	line-height: 0px;
	padding-top: 7px;
}
.container .social .social_icon:hover {
	cursor: pointer;
	opacity: 0.5;
}

a:link {
  text-decoration: none ;
  color: inherit;
}

a:visited {
	color:inherit;
}

.scroll{
	padding-top: 15px;
	padding-bottom: 12px;
	margin-top: -118px;
	width: 100%;
	position: fixed;
}
.scroll2{
	margin-top: 45px;
}

.facerow{
	display: flex;
    width: 90%;
	margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
	color: #212026;
}

.facerow p{
	text-align: center;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

.profile{
	width: 300px;
	height: 420px;
	background-color: white;
	margin-right: auto;
    margin-left: auto;
	position: static;
	transition: all 0.5s linear;
}

.profile:hover{
	cursor: pointer
}

.hidden{
	display:none;
	width: 90%;
	background-color: white;
	position: fixed;
	left: 5%;
	top: 10%;
	padding-bottom: 20px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

.hidden img{
	float: left;
}

.hidden h3{
	padding-left: 30%;
	font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.hidden p{
	padding-left: 30%;
	padding-right: 5%;
	font-size: 17px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	display: block;
	text-align: justify;
}

.displayProfile_full{
	display: block;
}